<section class="device-activation-guide">
  <div class="page-width page-width--smaller">

    {% if section.settings.heading != blank %}
      <h1 class="tracki-manual__title">
        {{ section.settings.heading }}
      </h1>
    {% endif %}

    {% for block in section.blocks %}
      <div class="guide-step divider-sec" {{ block.shopify_attributes }}>

        <!-- AUTO STEP NUMBER -->
        <div class="guide-step__number">
          {{ block.settings.count }}
        </div>

        {% if block.settings.step_text != blank %}
          <div class="guide-step__text">
            {{ block.settings.step_text }}
          </div>
        {% endif %}

        {% if block.settings.image != blank %}
          <div class="guide-step__image">
            {% comment %} {{
              block.settings.image
              | image_url: width: 218
              | image_tag:
                loading: 'lazy',
                alt: block.settings.step_text | strip_html
            }} {% endcomment %}
              <img src="{{ block.settings.image | img_url: 'master' }}">
          </div>
        {% endif %}

      </div>
    {% endfor %}

  </div>
</section>

{% schema %}
{
  "name": "Device activation guide",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Device activation guide"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Guide step",
      "settings": [
        {
          "type": "text",
          "id": "count",
          "label": "Count",
        },
        {
          "type": "richtext",
          "id": "step_text",
          "label": "Step description",
          "default": "<p>Scan QR code or enter your Device ID</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Device activation guide",
      "blocks": [
        { "type": "step" },
        { "type": "step" },
        { "type": "step" }
      ]
    }
  ]
}
{% endschema %}
