<section class="getting-started" id="getting-started-v2">
  <div class="container">
    {% if section.settings.heading != '' %}
      <h2 class="section-title">{{ section.settings.heading }}</h2>
    {% endif %}
    
    <div class="steps-wrapper">

      {% for block in section.blocks %}
      <div class="step">
        {% if block.settings.image_icon != blank %}
        <div class="step-image-wrapper">
          <img src="{{ block.settings.image_icon | img_url: 'master' }}" alt="Step Illustration">
        </div>
        {% endif %}

        {% if block.settings.count != '' %}
        <div class="step-number">{{ block.settings.count }}</div>
        {% endif %}

        {% if block.settings.text != '' %}
        <div class="step-content">
          <p class="step-text">{{ block.settings.text }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}

    </div>

    {% if section.settings.additional_text != '' %}
      <div class="additional-text divider-sec">
        <p>{{ section.settings.additional_text }}</p>
      </div>
    {% endif %}
  </div>
</section>

<style>
.getting-started {
  background: #26282a;
  padding: 80px 20px 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 60px;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  text-align: center;
  flex: 1 1 200px;
  max-width: 280px;
}

.step-image-wrapper {
  margin-bottom: 20px;
}

.step-image-wrapper img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.step-number {
  margin: 10px auto 0;
  width: 48px;
  height: 48px;
  background: #76C773;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.step-content {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.step-text {
  font-size: 16px;
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

.additional-text {
  text-align: center;
  margin-top: 60px;
}

.additional-text p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 992px) {
  .steps-wrapper {
    justify-content: center;
    gap: 60px;
  }
  
  .step {
    max-width: 100%;
  }
}
</style>

{% schema %}
{
   "name":"Getting started v2",
   "settings":[
      {
         "type":"textarea",
         "id":"heading",
         "label":"Heading"
      },
      {
         "type":"textarea",
         "id":"additional_text",
         "label":"Additional Text After Steps"
      }
   ],
   "blocks":[
      {
         "type":"image-with-text",
         "name":"Image With Text",
         "settings":[
            {
               "type":"image_picker",
               "id":"image_icon",
               "label":"Image Icon"
            },
            {
               "type":"text",
               "id":"count",
               "label":"Count"
            },
            {
               "type":"textarea",
               "id":"text",
               "label":"Text"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Getting started v2"
      }
   ]
}
{% endschema %}
